{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salem Ododa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <div class="nav-wrapper">
        <div class="dots-wrapper">
            <div id= "dot-1" class="browser-dot"></div>
            <div id= "dot-2" class="browser-dot"></div>
            <div id= "dot-3" class="browser-dot"></div>
        </div>
        
        <ul id="navigation">
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
        
    
    <div class="main-container">
        <div class="alert alert-info">
            <div class="contain">
                <h3>Hello, please click on this link to verify your mail<a href="https://mail.google.com/mail"> HERE</a></h3>
            </div>
        </div>
    </div>
</body>
      
      
      
      
      
      
